{% extends "Book_manager/book_home.html" %}

{% block authors_display %}

    <form action="{% url 'add_book' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1" >书名</label>
            <input type="text" class="form-control" id="title" placeholder="title" name="title">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">价格</label>
            <input type="text" class="form-control" id="price" placeholder="price" name="price">
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">出版日期</label>
            <input type="date" class="form-control" id="pub_date" placeholder="pub_date" name="pub_date">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">出版社</label>
            <select name="publish" id="publish" class="form-control">
                {% for publish in publish_list %}
                    <option value="{{ publish.nid }}">{{ publish.name }}</option>
                {% endfor %}


            </select>

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">作者</label>
            <select name="author" id="author" class="form-control" multiple>
                {% for author in author_list %}
                    <option value="{{ author.nid }}">{{ author.name }}</option>
                {% endfor %}


            </select>
        </div>

        <input type="submit" class="btn btn-default pull-right btn-success" value="提交">

    </form>

{% endblock %}